@keyframes slide-in-animation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

#title {
  font-family: "Roboto-light", Arial, Helvetica, sans-serif;
  font-size: 6rem;
  color: whitesmoke;
  animation-name: slide-in-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slide-in {
  animation-name: slide-in-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-container {
  margin-top: 20rem;
  margin-left: auto;
}

.enlarged {
  transform: scale(2.5);
  margin-left: 2rem;
}

@media (max-width: 1200px) {
  .enlarged {
    display: none;
  }
}

body {
  background-color: rgb(37, 37, 42);
  color: #fff;
}
