

/* Styles for the header */
#title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  margin-top: 7rem;
  color: whitesmoke;
  margin-left: 4rem;
}

@keyframes slide-in {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slide-in {
  animation: slide-in 1s ease-in-out;
}

.pulse {
  animation: pulse 2s infinite;
}






h5 {
  font-family: arial;
  color: beige;
  font-size: medium;
  padding: 1rem;

}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body {
  background-color: rgb(39, 46, 46);
}
span {
  color: orange;
  margin-left: 2rem;
}
.enlarged {
  transform: scale(1.5);
  margin-top: 7rem;
}